utils/.DS_Store
queries/.DS_Store
pages/.DS_Store
llm_services/.DS_Store
graphics/.DS_Store
analytics/.DS_Store
.DS_Store
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
ENV/
.venv

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/